@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Monoton&family=Open+Sans:wght@400;700&family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Work+Sans:wght@400;700&display=swap");

.bgcontainer {
    background-color: pink;
    background-size: cover;
    height: 100vh;
    padding: 30px;
}

.formbg {
    background-color: white;
    border-radius: 30px;
    padding: 15px;
}

.heading {
    color: white;
    font-family: "roboto";
    font-size: 35px;
    font-weight: bold;
}

.question {
    color: black;
    font-family: "Bree serif";
    font-size: 25px;
}

.optionname {
    color: black;
    font-family: "Roboto";
    font-size: 15px;
}

.msgstyle {
    font-family: "Bree serif";
    font-size: 15px;
}

.errorstyle {
    color: red;
}

.correctstyle {
    color: green;
}